body{
    background: #161623;
    color: white;
    font-family: "Lobster", cursive;
}
.intro1 {
    margin-top: 2vh;
    margin-left: 1vw;
    width: 90%;
    text-align: center;
}
.skills{
    text-align: center;
}
