html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(206, 240, 126);
  font-family: "Lobster", cursive;
  font-size: 20px;
}
section {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.email {
  margin-top: 10vh;
  padding: 0 25vw;
}
.text {
  margin-top: -1vh;
  padding: 0 25vw;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box form {
  width: 40%;
}
#contact {
  position: relative;
}
#contact-box label {
  font-size: 1.3rem;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}
.btn {
  padding: 6px 20px;
  border: 2px solid grey;
  background-color: grey;
  color: black;
  margin: 17px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
}
