@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
.na{
  color: white;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  font-family: "Lobster", cursive;
  font-size: 0px;
}
.btn {
  padding: 6px 20px;
  border: 2px solid grey;
  background-color: rgb(206, 240, 126);
  color: black;
  margin: 17px;
  font-family: "Lobster", cursive;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}
.btn a {
  text-decoration: none;
}
.btn:hover {
  background-color: white;
}
#services{
  margin: 34px;
  display: flex;
  color: white;
}
#services .box{ 
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 10px;
  background: black;
  margin-bottom: 20px;
}
#services .box h1{ 
 height: 160px;
 margin: auto;
 display: block;
}
