.na{
  color: white;
}
.na ul li a{
  color: white;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  background: #161623;
  font-family: "Lobster", cursive;
}
