@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: rgb(206, 240, 126); */
  font-family: "Lobster", cursive;
  font-size: 20px;
}
nav {
  display: flex;
  margin: 2vh;
}
.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 3vh 2vw;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}
.topnav a:hover {
  color: rgb(181, 190, 55);
}
.topnav .icon {
  display: none;
}
.myname {
  color: blue;
}
.project {
  /* height: 7vh; */
  width: 100%;
  color: white;
  display: flex;
}
@media screen and (max-width: 999px) {
  .project {
    flex-direction: row;
    /* height: 55vh; */
  }
  .description {
    display: flex;
    /* height: 40vh; */
  }
}
.description {
  margin: 1vh 2vw;
  padding: 1vh 2vw;
  height: 8vh;
  width: 15vw; /* border: 3px solid red; border-radius: 5px; */
}
.description .button {
  margin-top: 2vh;
}
.description a {
  text-decoration: none;
  color: black;
  font-family: "Lobster", cursive;
}
#services{
  margin: 34px;
  display: flex;
  color: white;
}
#services .box{ 
  border: 2px solid brown;
  padding: 34px;
  margin: 2px 55px;
  border-radius: 28px;
  background: black;
  margin-bottom: 20px;
}
#services .box h1{ 
 height: 160px;
 margin: auto;
 display: block;
}
.btn{
  padding: 6px 20px;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 20px;
  cursor:pointer;
}
.btn:hover{
  cursor: pointer;
  background-color: white;
}
.btn a{
  text-decoration: none;
  font-family: "Lobster", cursive;
  font-size: 20px;
}
