
.front-image{
  animation: updown 1s infinite alternate;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(206, 240, 126);
  font-family: "Lobster", cursive;
  font-size: 20px;
}
.front-image {
  padding: 20px 50px;
  height: 50vh;
  width: 40vw;
  border-radius: 100%;
}
section {
  display: flex;
}
.intro {
  margin-top: 2vh;
}
.intro1 {
  margin-top: 2vh;
  margin-left: 1vw;
  text-align: center;
}
.btn {
  padding: 6px 20px;
  border: 2px solid grey;
  background-color: rgb(206, 240, 126);
  color: black;
  margin: 17px;
  font-family: "Lobster", cursive;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}
.btn a {
  text-decoration: none;
}
.btn:hover {
  background-color: white;
}
@keyframes updown {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-10px);
  }
}
.intro{
  text-align: center;
}
.na{
  display: flex;
  flex-direction: column;
}
.facebook{
  margin: 35px;
}
.github{
  margin: 35px;

}
.linkdin{
  margin: 35px;
}
@media screen and (max-width: 950px) {
  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .introduction img {
    margin: 0;
    padding: 0px;
    height: 30vh;
    width: 60vw;
    border-radius: 100%;
    display: block;
  }
  .intro {
    margin: 0;
    padding: 0;
  }
  .na{
    display: flex;
    flex-direction: row;
  }
  .facebook{
    margin: 40px;
  }
  .github{
    margin: 40px;
  
  }
  .linkdin{
    margin: 40px;
  }
}
.link a{
  text-decoration: none;
  font-style: italic;
}